<div class="my-container mat-elevation-z8">
  <div class="container">
    <h1>Welcome to Search Engine</h1>
    <div class="form-group">
      <input type="text" class="form-control custom-control" #name>
      <button type="submit" class="btn btn-success custom-btn" (click)="getSearchResults(name.value)">Search</button>
      <!-- <button type="menu" class="btn btn-success" id="menu" (click)="getSearchResultsInDb(name.value)">Search in database</button> -->
    </div>


    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Preview </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="CacheUrl">
        <th mat-header-cell *matHeaderCellDef> Url </th>
        <a *matCellDef="let element" href="{{element.CacheUrl}}">Go to details</a>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
  </div>
</div>