<h2 matDialogTitle>Error</h2>
<mat-dialog-content>
  <p>You have inputted an empty value!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose="cancel" color="primary">OK</button>
</mat-dialog-actions>